<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МЛС: Форс</title>
    <link rel="icon" href="img/icon/green.svg">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style_for_table.css">

</head>

<div class="main">
    <div class="header">
        <ul>
            <li>
                <button class="plan_butt_off">
                    <div class="item"><img src="img/status/кружок с галочкой.svg" alt="работает"></div>
                    <div class="item"><img src="img/status/лазер.svg" alt="лазер"></div>
                    <div class="item">Контроль</div>
                </button>
            <li>
                <button class="plan_butt_on">
                    Оперативное<br>планирование
                </button>
            </li>
            <li>
                <button class="plan_butt_off">
                    Долгосрочное<br>планирование
                </button>
            </li>
        </ul>
        <div class=user_block>
            <ul class="user_info">
                <li id="avatar">
                    <img src="img/icon/user_photo.svg" alt="аватар">
                </li>
                <li class="control_text"> <a href="#">Петров Иван</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="manual_control">
            <div class="switch">
                <label>Ручное управление</label>
                <input type="checkbox" checked>
            </div>
            <div>
                Время МЛС: 13:20
            </div>

        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <div class="table-placeholder"></div>
                <table>
                    <tbody>
                        <thead>
                            <tr>
                                <th>Название КА</th>
                                <th>Видимость КА<br>с - до</th>
                                <th>Облачность<br>в направлении КА</th>
                                <th>Результаты измерений</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Космический аппарат 1</td>
                            <td>10:15 - 13:00</td>
                            <td><img src="img/icon for table/облако.svg"></td>
                            <td>Время: 12:05 - 12:07;Длит.:2:14; 0 ответов</td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 2</td>
                            <td>12:05 - 14:50</td>
                            <td><img src="img/icon for table/облако.svg"></td>
                            <td>Время: 11:12 - 11:16; Длит.: 4:10; 1358 ответов</td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 3</td>
                            <td>9:10 - 11:30</td>
                            <td></td>
                            <td>Время: 11:12 - 11:16; Длит.: 4:10; 1358 ответов</td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 4</td>
                            <td>14:20 - 18:50</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 5</td>
                            <td>10:15 - 13:10</td>
                            <td><img src="img/icon for table/солнце.svg"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 6</td>
                            <td>14:50 - 17:20</td>
                            <td><img src="img/icon for table/солнце.svg"></td>
                            <td>Идут измерения...</td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 7</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 8</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 9</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 11</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 12</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 13</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 13</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 13</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 13</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 13</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Космический аппарат 13</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="footer-wrapper">
            <button class="button_stop">
                Остановить измерения
            </button>
            <div class="footer-text">
                <div>
                    <p class="footer-text__el">Космический аппарат 6</p>
                    <p class="footer-text__el">Время сеанса: 3:21</p>
                </div>
                <div>
                    <p class="footer-text__el">Измерений: 1896 (+18/сек)</p>
                </div>

            </div>
        </div>
    </footer>
</div>


</html>