<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МЛС: Форс</title>
    <link rel="icon" href="img/icon/green.svg">
    <link rel="stylesheet" href="css/manual_off.css">
    <link rel="stylesheet" href="css/style_for_table.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="header">
                <ul>
                    <li><button class="plan_butt_off">
                            <div class="item"><img src="img/status/кружок с галочкой.svg" alt="работает"></div>
                            <div class="item"><img src="img/status/лазер.svg" alt="лазер"></div>
                            <div class="item">Контроль</div>
                        </button></li>
                    <li>
                        <button class="plan_butt_off">
                            Оперативное<br>планирование
                        </button>
                    </li>
                    <li>
                        <button class="plan_butt_on">
                            Долгосрочное<br>планирование
                        </button>
                    </li>
                </ul>
                <div class=user_block>
                    <ul class="user_info">
                        <li id="avatar">
                            <img src="img/icon/user_photo.svg" alt="аватар">
                        </li>
                        <li class="control_text"> <a href="#">Петров Иван</a></li>
                    </ul>
                </div>
            </div>
            <div class="table-wrapper">
                <div class="table-scroll">
                    <table>
                        <tbody>
                            <thead>
                                <tr>
                                    <th>Название КА</th>
                                    <th>Приоритет</th>
                                    <th>Кол-во<br>нормальных<br>точек за сеанс</th>
                                    <th>Мин. кол-во<br>сеансов<br>за проводку</th>
                                    <th>Макс. кол-во<br>сеансов<br>за проводку</th>
                                    <th>Мин. зазор<br>между сеансами,<br>мин.</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Космический аппарат 1</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 2</td>
                                <td>Не отслеживается</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 3</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 4</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 5</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 6</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 7</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 8</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 9</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 10</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 11</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 12</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 13</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 14</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 15</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 16</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 17</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 18</td>
                                <td>Высокий</td>
                                <td>3</td>
                                <td>2</td>
                                <td>3</td>
                                <td>40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </header>
</body>

</html>