<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МЛС: Форс</title>
    <link rel="icon" href="img/icon/green.svg">
    <link rel="stylesheet" href="css/manual_off.css">
    <link rel="stylesheet" href="css/style_for_table.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="header">
                <ul>
                    <li><button class="control_butt">
                            <ul id="control_list">
                                <li>
                                    <img src="img/status/кружок с галочкой.svg" alt="работает">
                                </li>
                                <li class="lazer">
                                    <img src="img/status/лазер.svg" alt="лазер">
                                </li>
                                <li class="control_text">
                                    Контроль
                                </li>
                            </ul>
                        </button></li>
                    <li>
                        <button class="plan_butt_on">
                            Оперативное<br>планирование
                        </button>
                    </li>
                    <li>
                        <button class="plan_butt_off">
                            Долгосрочное<br>планирование
                        </button>
                    </li>
                </ul>
                <div class=user_block>
                    <ul class="user_info">
                        <li id="avatar">
                            <img src="img/icon/user_photo.svg" alt="аватар">
                        </li>
                        <li class="control_text"> <a href="#">Петров Иван</a></li>
                    </ul>
                </div>
            </div>
            <div class="manual_control">
                <label>Ручное управление</label>
                <input type="checkbox" unchecked>
            </div>
            <div class="table-wrapper">
                <div class="table-scroll">
                    <table>
                        <tbody>
                            <thead>
                                <tr>
                                    <th>Название КА</th>
                                    <th>Видимость КА<br>с - до</th>
                                    <th>Сеанс<br>с - до</th>
                                    <th>Облачность<br>в направлении КА</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Космический аппарат 1</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 2</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 3</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 4</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 5</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 6</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 7</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 8</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 9</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 10</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 11</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 12</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 13</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 14</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 15</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 16</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 17</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/солнце.svg"></td>
                            </tr>
                            <tr>
                                <td>Космический аппарат 18</td>
                                <td>10:15 - 13:00</td>
                                <td>12:20 - 12:25</td>
                                <td><img src="img/icon for table/облако.svg"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </header>

    <footer id="footer" class="footer">
        <div class="container-f" style="margin-top:0px">
            <div class="footer-wrapper">
                <button class="button_add">
                    Добавить
                </button>
            </div>
        </div>
    </footer>
</body>

</html>