<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МЛС: Форс</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="img/icon/green.svg">
    <link rel="stylesheet" href="css/control.css">
    <link rel="stylesheet" href="css/style_for_table.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<div class="main">
    <div class="header">
        <ul>
            <li>
                <button class="plan_butt_on">
                    <div class="item"><img src="img/status/кружок с галочкой.svg" alt="работает"></div>
                    <div class="item"><img src="img/status/лазер.svg" alt="лазер"></div>
                    <div class="item">Контроль</div>
                </button>
            </li>
            <li>
                <button class="plan_butt_off">
                    Оперативное<br>планирование
                </button>
            </li>
            <li>
                <button class="plan_butt_off">
                    Долгосрочное<br>планирование
                </button>
            </li>
        </ul>
        <div class=user_block>
            <ul class="user_info">
                <li id="avatar">
                    <img src="img/icon/user_photo.svg" alt="аватар">
                </li>
                <li class="control_text"> <a href="#">Петров Иван</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="sorted_menu">
            <div class="dropdown">
                <button class="dropbtn">Аппарат <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">День</a>
                    <a href="#">Час</a>
                </div>
            </div>
            <div>
                <ul class="number_page">
                    <li>
                        1
                    </li>
                    <li>
                        2
                    </li>
                    <li>
                        3
                    </li>
                    <li>
                        4
                    </li>
                    <li>
                        <img src="img/icon/стрелка.svg">
                    </li>
                    <li>
                        <img src="img/icon/двойная стрелка.svg">
                    </li>
                    <div class="text">
                        <p>Показать:</p>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">4 <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">5</a>
                            <a href="#">6</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="table-wrapper">
            <div class="table-scroll">
                <div class="table-placeholder"></div>
                <table class="main_table">
                    <tbody>
                        <thead>
                            <tr>
                                <th>Состояние</th>
                                <th>Название КА</th>
                                <th>Зона видимости</th>
                                <th>Время измерений</th>
                                <th>Результат измерений</th>
                            </tr>
                        </thead>
                        <tr>
                            <td><img src="img/icon for table/облако.svg"></td>
                            <td>Космический аппарат 1</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/облако.svg"></td>
                            <td>Космический аппарат 2</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/солнце.svg"></td>
                            <td>Космический аппарат 3</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/дождь.svg"></td>
                            <td>Космический аппарат 4</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/солнце.svg"></td>
                            <td>Космический аппарат 5</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/солнце.svg"></td>
                            <td>Космический аппарат 6</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/солнце.svg"></td>
                            <td>Космический аппарат 7</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/облако.svg"></td>
                            <td>Космический аппарат 8</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/облако.svg"></td>
                            <td>Космический аппарат 9</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/облако.svg"></td>
                            <td>Космический аппарат 10</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/солнце.svg"></td>
                            <td>Космический аппарат 11</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/солнце.svg"></td>
                            <td>Космический аппарат 12</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/дождь.svg"></td>
                            <td>Космический аппарат 13</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                        <tr>
                            <td><img src="img/icon for table/облако.svg"></td>
                            <td>Космический аппарат 14</td>
                            <td>10:15 - 13:00</td>
                            <td>10:35 - 10:38; 180 сек</td>
                            <td>1358 ответов</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>




</html>