.container {
    margin: 31px 50px 0 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.control_butt {
    font-size: 20px;
    background: #FFFF;
    border: 2px solid #4669E5;
    border-radius: 5px;
    padding: 0px;
    width: auto;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
}

#control_list {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 7px 18px 7px 13px;
    width: auto;
    height: 44px;
}

.header li {
    width: auto;
    display: flex;
    margin-right: 4px;
}

.control_text {
    padding: auto;
    margin: auto;
    display: flex;
}

.header ul {
    padding: 0;
    display: flex;
}

.lazer {
    margin-right: 7px;
}

.item {
    margin-right: 5px;
    display: inline-flex;
}

.plan_butt_on {
    align-items: center;
    display: inline-flex;
    font-size: 20px;
    color: #FFFF;
    background: #4669E5;
    border-radius: 5px;
    border-style: none;
    width: auto;
    height: auto;
    margin-right: 20px;
    padding: 7px 24px 7px 24px;
}

.plan_butt_off {
    align-items: center;
    font-size: 20px;
    background: #FFFF;
    border-radius: 5px;
    border: 2px solid #4669E5;
    padding: 0px;
    width: 206px;
    height: auto;
    margin-right: 20px;
    padding: 7px 24px 7px 24px;
    cursor: pointer;
}

.user_name {
    vertical-align: auto;
    font-size: 20px;
}

.user_info {
    padding: 0;
    font-size: 20px;
    background: #FFFF;
    width: auto;
    height: auto;
}

#avatar {
    padding: 0;
    width: 59px;
    height: 59px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: black;
}

button:active {
    background-color: #FFFF;
}